/* style e_commerce */

/* VERSION MOBILE */
@media (max-width: 480px){
  body {
    margin: 0;
    padding: 0;
  }
  /* HEADER */
  header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  ul {
    display: flex;
    justify-content: right;
    list-style: none;
  }
  li {
    padding: 0 10px;
    border: solid black;
    border-radius: 30px;
  }
}
  h1 {
    font-family: Roboto, sans-serif;
    font-size: 64px;
    color: #DB6666;
    text-align: center;
  }
  a {
    text-decoration: none;
  }
  .parallax p {
    padding-top: 30%;
    margin: 0 20px;
  }
  /* BOUTIQUE */
  #boutique {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  #boutique img {
    width: 50%;
    border: solid black;
    margin-top: 20px;
  }
  h3 {
    text-align: center;
  }
  hr {
    display: block;
  }
  /* PROMOTION */
  #promotion img {
    width: 100%;
    margin:2px;
  }
  /* AVIS*/
  /* LIVRAISON */
  .livraison {
    margin-left: 25%;
  }
  .livraison p:first-child {
    width: 200px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: -4px;
  }
  .livraison button {
    background-color: #DB6666;
    border-radius: 5px;
    width: 224px;
    height: 20px;
  }
  #avis_client_livraison {
    margin-top: -20px;
    display: none;
  }
  /* PRODUIT */
  .produit {
    margin-left: 25%;
  }
  .produit p:first-child {
    width: 200px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
  }
  .produit button {
    display: block;
    background-color: #DB6666;
    border-radius: 5px;
    width: 220px;
    margin-top: -16px;
  }
  #avis_client_produit {
    margin-top: -20px;
    display: none;
  }
  /* SERVICE CLIENT */
  .service_client {
    margin-left: 25%;
  }
  .service_client p:first-child {
    width: 200px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
  }
  .service_client button {
    display: block;
    background-color: #DB6666;
    border-radius: 5px;
    width: 220px;
    margin-top: -16px;
  }
  #avis_client_sav {
    margin-top: -20px;
    display: none;
  }

  /* FOOTER */
  footer {
    background-color: #473DC2;
  }
}
