
a{
  text-decoration: none;
}
h1{
  font-size: 64px;
}
h2{
  font-size: 32px;
}
input{
  padding: 10px;
  margin-bottom: 40px;
  width: 60%; 
}
.radio_content{
  display: flex;
  display: -webkit-flex;
}
.radio_content .radio_gender{
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  width: 5%;
}
.check_content{
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}
.check_content .check_conditions{
  display: flex;
  display: -webkit-flex;
}
.check_content .check_conditions input{
  width: 12px;
  height: 12px;
}
/* contact*/
body{
  margin: unset;
  font-family: 'roboto', sans-serif !important;
  font-size: 14px;
}
main{
}
main, header, footer{
  padding: 50px
}
.header_content{
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
}
.header_content .logo_site{
  width: 60px;
  height: 60px;
  background-color: grey;
}
.header_content .logo_content, .header_content .title_content, .header_content nav{
  display: flex;
  display: -webkit-flex;
  /* justify-content: center; */
  width: 100%;
}
.header_content nav ul{
  display: flex;
  display: -webkit-flex;
  list-style: none;
  padding: unset !important;
  justify-content: flex-end;
  width: 100%;
}
.header_content nav ul li{
  padding: 0px 20px;
  border: 1px solid black;
  border-radius: 3px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  height: 25px;
  margin-left: 10px;
}
.header_content nav ul li a{
  color: black;
}
.header_content .title_content{
  display: flex;
  display: -webkit-flex;
  justify-content: center;
}
.header_content .title_content h1{
  position: relative;
  color: #DB6666;
  margin: unset;
  z-index: 10;
}
.header_content .title_content h1::after{
  content: "2SHOES";
  color: #473DC2;
  opacity: 0.15;
  position: absolute;
  left: -10px;
  top: -10px;
  z-index: -1;
}
/*--page contact--*/
.formulaire_contact{
  display:flex;
  display: -webkit-flex;
}
.formulaire_contact .input_elements{
  display:flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-box-direction: column;
  width: 100%;
  justify-content: space-between;
}
.formulaire_contact .input_elements .name_content{
  display: flex;
  display: -webkit-flex;
  width: 60%;
}
.formulaire_contact .input_elements .name_content input{
  width: unset !important;
  margin-right: 3%;
}
.formulaire_contact .input_elements input, .formulaire_contact .input_elements select{
  padding: 10px;
  margin-bottom: 40px;
  width: 60%;
}
.formulaire_contact .input_elements textarea{
  height: 100%;
}
.formulaire_contact .radio_content{
  display: flex;
  display: -webkit-flex;
}
.formulaire_contact .radio_content .radio_gender{
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  width: 5%;
}
.bouton_content{
  position: relative;
  margin-top: 40px;
  width: 150px;
  height: 40px;
}
.bouton{
  background-color: #DB6666;
  color: white;
  border-radius: 3px;
  border: none;
  padding: 10px;
  width: 100% !important;
  height: 100%;
  appearance: auto;
}
.bouton_content:after{
  content: "";
  border: 1px solid #473DC2;
  width: 150px;
  height: 40px;
  position: absolute;
  z-index: -1;
  left: -5px;
  top: -5px;
  border-radius: 3px;
}
/*--page inscription/Connexion--*/
.formulaire_inscription{
  display: flex;
  display: -webkit-flex;
}
  /*--inscription--*/
.formulaire_inscription .inscription_content{
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-box-direction: column;
  width: 100%;
  justify-content: space-between;
}
.formulaire_inscription .inscription_content .name_inscription{
  display: flex;
  display: -webkit-flex;
  width: 60%;
}
.formulaire_inscription .inscription_content .name_inscription input{
  width: unset !important;
  margin-right: 3%;
}
.formulaire_inscription .inscription_content .birth_content{
  display: flex;
  display: -webkit-flex;
  width: 60%;
}
.formulaire_inscription .inscription_content .birth_content input{
  width: 60px !important;
  margin-right: 3%;
}
  /*--connexion--*/
.formulaire_inscription .connexion_content{
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-box-direction: column;
  width: 100%;
  justify-content: space-between;
  margin-left: 50px;
}
.formulaire_inscription .connexion_content input{
  margin-bottom: 10px;
}
.formulaire_inscription .connexion_content .mdp_content{
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}
.formulaire_inscription .connexion_content .text_promo{
  display: flex;
  display: -webkit-flex;
  font-size: 52px;
  font-weight: bold;
}
.formulaire_inscription .connexion_content .text_promo .link_promo{
  color: #DB6666;
}
/*--page panier vide--*/
.page_panier {
  height: 44vh;
}
.page_panier .panier_content{
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.page_panier .panier_content .bouton_content{
  position: relative;
  margin-top: 10px;
  display: flex;
  white-space: nowrap;
  width: 150px;
}
.page_panier .panier_content .bouton_content::after{
  width: 100%;
  padding: 10px 9px;
}
.page_panier .panier_content .bouton_content .bouton{
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
/*--page paiement--*/
.etape_content{
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.etape_content .principale{
  font-size: 46px;
  background-color: #DB6666;
  border-radius: 3px;
  padding: 15px;
}
.etape_content .secondaire{
  font-size: 40px;
  background-color: #DDBBBB;
  border-radius: 3px;
  padding: 10px;
}
.page_paiement .cb_content{
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.page_paiement .cb_content .paypal_content{
  align-items: center;
}
.page_paiement .cb_content input{
  width: unset;
}
.page_paiement .paypal_content, .page_paiement .visa_content, .page_paiement .american_content{
  margin-right: 10px;
}
.page_paiement .paypal_content .paypal_img{
  width: 80px;
  height: 80px;
}
.page_paiement .card_number{
  display: flex;
  display: -webkit-flex;
  width:  50%;
}
.page_paiement .expiration{
  display: flex;
  display: -webkit-flex;
  width: 10% !important;
}
.page_paiement .cvv{
  display: flex;
  display: -webkit-flex;
  width: 10% !important;
}
.page_paiement .cvv_content{
  display: flex;
  display: -webkit-flex;
}
/*--page boutique--*/
.boutique_content{
  width: 100%;
}
.picture{
  display: flex;
  display: -webkit-flex;
  display: inline-block;
  flex-direction: row;
  flex-wrap: wrap;
}
footer{
  background-color: #473DC2;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 18px;
}
footer a{
  color: white;
}
footer .link_footer{
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  line-height: 1.7;
}
footer .entreprise{
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}
footer .link_footer a{
  font-size: 16px;
}
footer .link_contact a{
  padding-left: 30px;
  font-size: 24px;
}
footer .logo_marque{
  display: flex;
  display: -webkit-flex;
  display: block;
}
footer .logo_marque img{
  width: 60px;
  height: 60px;
  margin-left: 30px;
}
footer .address{
  text-align: center;
}
footer .address .shoes{
  font-size: 32px;
  font-weight: bold;
  color: #DB6666;
}
footer .address p{
  line-height: 1.5;
  margin: unset;
  font-size: 16px;
}
footer .copyright_content{
  text-align: center;
}


  
